<Properties AppName="Archives Information Systems" AppVersion="1.0"><Server>localhost</Server><Database>archieves</Database><UserName>postgres</UserName><Password>r8n7JfU4UITfvnNRmwIVXA</Password><Company Name="Sekretariat Dewan Perwakilan Rakyat Daerah"><Address>JL.Bukit Trikora No.        Telp (0462) 8888-8888</Address></Company><Address>JL.Bukit Trikora No.        Telp (0462) 8888-8888</Address><State Type="Kabupaten">Banggai Kepulauan</State><Capital>Salakan</Capital><Province>Sulawesi Tengah</Province><Division Code="" Name=""/><Logos Name=".\images\7207-banggai-kepulauan.jpg"/><Logos2 Name=".\images\Logo DPRD.png"/><Logos3 Name=".\images\logo_rs.gif"/></Properties>